<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header', {title: "Home"}); %>
<body>
    <%- include('partials/navbar', {title: "Home",link1: '/',button1: "",link2:'',button2:""}); %>

    <h1 class="under">Login Form</h1>


    <%- include('partials/script'); %>
</body>
</html>